/* Estilos generales */
body {
    font-family: 'Gotham', sans-serif; 
}

.bg-primary {
    background-color: #bd9615 !important; 
}
#botonCrear {
    margin-top: 25px; /* Ajusta el valor según la separación deseada */
    margin-bottom: 10px;
}

.text-white {
    color: white !important;
}

.p-4 {
    padding: 3rem !important; 
}

h1, h2 {
    font-weight: bold;
}

/* Estilos para el título colorido */
h2.display-4 {
    background: linear-gradient(to right, #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #4B0082, #EE82EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-5 {
    color: white; 
}

.container {
    text-align: center; 
}

/* Estilos generales para la tabla */
table {
    width: 100%; 
    border-collapse: collapse; 
}
#table-encabezado{
    height: auto;
}
.table-container {
    max-height: 300px;
    overflow-y: auto; /* Habilitar scroll vertical si el contenido es demasiado alto */
}

th, td {
    padding: 5px; 
    text-align: center; 
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilos específicos para cada columna */
th:nth-child(1) { /* ID */
    width: 5%; 
    color: black; /* Agregar esta línea para establecer el color negro */
    background-image: linear-gradient(to right, #e7f0c0, #ff9706); 
}

th:nth-child(2) { /* Responsable */
    width: 20%;
    background-image: linear-gradient(to right, #f69e96, #f66923); 
}

th:nth-child(3) { /* Fecha */
    width: 15%;
    background-image: linear-gradient(to right, #66ccff, #4444fc); 
}

th:nth-child(4) { /* Solicitante */
    width: 25%;
    background-image: linear-gradient(to right, #3ce875, #0435e3); 
}

th:nth-child(5) { /* Estatus */
    width: 15%;
    background-image: linear-gradient(to right, #f977b8, #87032f); 
}

td:nth-child(1) { /* ID */
    width: 5%;
}

td:nth-child(2) { /* Responsable */
    width: 20%;
}

td:nth-child(3) { /* Fecha */
    width: 15%;
}

td:nth-child(4) { /* Solicitante */
    width: 25%;
}

td:nth-child(5) { /* Estatus */
    width: 15%;
}
.rendimiento-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.rendimiento-box {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.rendimiento-general {
    font-weight: bold;
}
.asuntos-resueltos { color: green; }
.asuntos-pendientes { color: red; }